<div class="profile">
  <div class="profile-menu">
    <a routerLink="profile" routerLinkActive="active">Profile</a><br>
    <a routerLink="schedule" routerLinkActive="active">Schedule</a><br>
    <a routerLink="teachers" routerLinkActive="active">Teachers</a><br>
    <a routerLink="chats" routerLinkActive="active">Chats</a><br>
    <button *ngIf="isLoggedIn()" (click)="logout()" class="btn btn-danger">
      Logout
    </button>
  </div>

  <div class="profile-info">
    <router-outlet></router-outlet>
  </div>
</div>
