<h2>Student Schedule</h2>

<div *ngIf="schedule.length > 0; else noSchedule" class="schedule-grid">
  <table class="schedule-table">
    <thead>
      <tr>
        <th *ngFor="let day of dayOfWeekEnum">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let day of dayOfWeekEnum">
          <div *ngFor="let slot of groupedSchedule[day]" class="slot-box">
            <div>
              {{ slot.startTime }} - {{ slot.endTime }} <small>(Teacher ID: {{ slot.teacherId }})</small> 
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noSchedule>
  <p>No schedule found for this student.</p>
</ng-template>
