<div class="connections">
  <button (click)="toggleStatus()" class="switch-btn">
    {{ getStatusLabel() }}
  </button>

  <div *ngIf="students.length === 0">
    <p>No students found for {{ currentStatus === StudentTeacherStatus.Confirmed ? 'Confirmed' : 'Pending' }} status.</p>
  </div>

  <ul class="students-list">
    <li *ngFor="let student of students" class="user-item">
      <div>
        <div class="user-item-info">
          <h5>{{ student.userName }} ({{ student.email }})</h5>
          <p *ngIf="student.id">Id: {{ student.id }}</p>
          <p *ngIf="student.grade">Grade: {{ student.grade }}</p>
          <p *ngIf="student.age">Age: {{ student.age }}</p>
          <p *ngIf="student.description">Description: {{ student.description }}</p>
        </div>

        <div *ngIf="currentStatus === StudentTeacherStatus.Pending">
          <button (click)="confirmStudent(student.id)">Confirm</button>
          <button (click)="rejectStudent(student.id)">Reject</button>
        </div>

        <div *ngIf="currentStatus === StudentTeacherStatus.Confirmed">
          <button (click)="unsubscribeStudent(student.id)" class="status-btn">Unsubscribe</button>
        </div>
      </div>
    </li>
  </ul>
</div>
