<h2>Teacher Schedule</h2>

<!-- Table of schedules -->
<div *ngIf="schedule.length > 0; else noSchedule" class="schedule-grid">
  <table class="schedule-table">
    <thead>
      <tr>
        <th *ngFor="let day of dayOfWeekEnum">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let day of dayOfWeekEnum">
          <div *ngFor="let slot of groupedSchedule[day]" class="slot-box" (click)="onSlotClick(slot)">
            <div>
              {{ slot.startTime }} - {{ slot.endTime }} <small>(Student ID: {{ slot.studentId }})</small> 
            </div>
            <div class="slot-actions" *ngIf="clickedSlotId === slot.id">
              <button (click)="onEdit(slot); $event.stopPropagation()">Edit</button>
              <button (click)="onDelete(slot.id); $event.stopPropagation()">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noSchedule>
  <p>No schedule found.</p>
</ng-template>

<!-- Button to toggle form visibility -->
<div class="schedule-form-container">
  <button (click)="toggleForm()" class="show-form-button">
    {{ showForm ? 'Hide Form' : 'Add Schedule' }}
  </button>

  <!-- Form to add/edit schedule -->
  <form *ngIf="showForm" [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" class="schedule-form">
    <div>
      <label for="dayOfWeek">Day of Week:</label>
      <select formControlName="dayOfWeek" id="dayOfWeek">
        <option *ngFor="let day of dayOfWeekEnum; let i = index" [value]="i">
          {{ day }}
        </option>
      </select>
    </div>
    <div>
      <label for="startTime">Start Time:</label>
      <input type="time" formControlName="startTime" id="startTime" required />
    </div>
    <div>
      <label for="endTime">End Time:</label>
      <input type="time" formControlName="endTime" id="endTime" required />
    </div>
    <div>
      <label for="studentId">Student ID:</label>
      <input type="number" formControlName="studentId" id="studentId" required />
    </div>
    <div>
      <button type="submit">{{ selectedSchedule ? 'Update' : 'Add' }} Schedule</button>
      <button type="button" (click)="resetForm()" *ngIf="selectedSchedule">Cancel</button>
    </div>
  </form>
</div>