<div>
  <a routerLink="add" routerLinkActive="active">Add Availability</a>
  <h2>Teacher Availability</h2>
  <router-outlet></router-outlet>
  
  <div *ngIf="availabilityService.list.length > 0; else noData">
    <ul>
      <li *ngFor="let a of availabilityService.list">
        <strong>{{ getDayName(a.dayOfWeek) }}</strong>:
        {{ a.startTime }} - {{ a.endTime }}
        <span>
            <i class="fa-solid fa-trash-can"
            (click)="deleteAvailability(a.id)"></i>
        </span>
        <a [routerLink]="['update', a.id]"
           (click)="updateAvailability(a)">Edit</a>
      </li>
    </ul>
  </div>

  <ng-template #noData>
    <p>No availabilities found.</p>
  </ng-template>
</div>
