<form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
  <div>
    <label>Day of Week</label>
    <select name="dayOfWeek" [(ngModel)]="availabilityService.updateFormData.dayOfWeek" required>
      <option *ngFor="let d of dayKeys" [ngValue]="d">{{ DayOfWeek[d] }}</option>
    </select>
  </div>

  <div>
    <label>Start Time</label>
    <input type="text" name="startTime" [(ngModel)]="availabilityService.updateFormData.startTime" required />
  </div>

  <div>
    <label>End Time</label>
    <input type="text" name="endTime" [(ngModel)]="availabilityService.updateFormData.endTime" required />
  </div>

  <button type="submit" [disabled]="!f.valid">Update Availability</button>
</form>

<a routerLink="/profile/availabilities" routerLinkActive="active">Back to Availability List</a>
